@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
    background-color: #03020b;
    color: #EEE;
    font-family: roboto;
    font-size: 16px;
    margin: 0px;
    overflow: hidden;
    display: flex;
    width: 100vw;
    height: 100vh;
}
#settings{
    border-right: solid 1px white;
    width: 320px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
#settings_title{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border-bottom: solid 1px white;
    padding: 5px;
    margin-bottom: 10px;
    user-select: none;
}
.setting{
    height: 25px;
    padding: 10px;
}
.setting input{
    background-color: #070418;
    color: #EEE;
    font-family: roboto;
    font-size: 20px;
    border: none;
    border-bottom: #EEE solid 1px;
    height: 25px;
    width: 60px;
    margin-left: 15px;
}
.setting input:focus{
    border-bottom: #EEE solid 2px;
    outline: none;
}
#submit{
    background-color: #070418;
    width: 110px;
    height: 35px;
    margin: auto;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: #EEE solid 1px;
    cursor: pointer;
    user-select: none;
    font-size: 20px;
}
#submit:hover{
    border-bottom: #EEE solid 2px;
}
#container{
    flex-grow: 1;
}
#hud{
    user-select: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 320px;
}
#instructions{
    margin: 4px 6px;
    transition: opacity 300ms ease-in-out;
    -webkit-transition: opacity 300ms ease-in-out;
    -moz-transition: opacity 300ms ease-in-out;
    -ms-transition: opacity 300ms ease-in-out;
    -o-transition: opacity 300ms ease-in-out;
}
#instructions:hover{
    opacity: 10%;
}
canvas{
    filter: blur(1px);
    -webkit-filter: blur(1px);
}
